@model Task3.View.Models.Person
    @if (Model.IsWhite) {
        <div class="white icon"></div>
        <h3 class ="name">White Side</h3>
    } else {
        <div class="black icon"></div>
        <h3 class ="name">Black Side</h3>
    }

